[submodule "base/apps/st"]
	path = base/apps/st
	url = git@github.com:vigoux/st.git
[submodule "base/apps/dmenu"]
	path = base/apps/dmenu
	url = git@github.com:vigoux/dmenu.git
[submodule "base/apps/neovim"]
	path = neovim/apps/neovim
	url = https://github.com/neovim/neovim.git
[submodule "base/apps/slock"]
	path = base/apps/slock
	url = git@github.com:vigoux/slock.git
[submodule "base/apps/tabbed"]
	path = base/apps/tabbed
	url = git@github.com:vigoux/tabbed.git
[submodule "neovim/.local/share/nvim/site/pack/packer/opt/packer.nvim"]
	path = neovim/.local/share/nvim/site/pack/packer/opt/packer.nvim
	url = https://github.com/wbthomason/packer.nvim.git
